body{
  background-image: url(background.jpg);
  background-size: 100%;

  color: white;
}

.container{
 width: 1000px;
 padding: 65px;
 margin: auto;
}

.riquadro{
  background-color: green;
  margin: 70px;
  padding: 15px;
}
.logo{
  width: 200px;
}

.carica22{
  width: 200px;
  height: 20px;
  background-color: yellow;
  border: 10px;
}

.carica24{
  width: 500px;
  height: 20px;
  background-color: green;
  border: 10px;
}

.carica154{
  width: 100px;
  height: 20px;
  background-color: red;
  border: 10px;
}
